body {
  background-image: url("/img/background.png");
  background-repeat: repeat;
}

table {
  border-collapse: collapse;
  background-color: #343434;
  color: white;
}
th {
  cursor: pointer;
  position: sticky;
  top: 0;
  background-color: #343434;
}
td, th {
  border: 1px solid #555555;
  text-align: left;
  padding: 8px;
}
tbody tr:nth-child(odd) {
  background-color: #4A4A4A;
}

img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}