table {
    border-collapse: collapse;
    background-color: #343434;
    width: 100%;
  }

  th {
    cursor: pointer;
  }
  
  td, th {
    border: 1px solid #555555;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #4A4A4A;
  }

 img {
    width: 20px;
    height: 20px;
  }